VITE_API_BASE_URL=http://localhost:8080
VITE_CLIENT_API_URL=http://localhost:8082
VITE_DEMANDE_API_URL=http://localhost:8083
VITE_ANALYSE_API_URL=http://localhost:8084
VITE_APP_NAME=CrediWise
VITE_KEYCLOAK_URL=http://localhost:8180
VITE_KEYCLOAK_REALM=crediwise
VITE_KEYCLOAK_CLIENT_ID=crediwise-frontend
